
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #dcdcdc, white, white, #dcdcdc);
    width: 100%;
    height: 100vh;
}
h1{ 
     
     text-align: left;
     font-weight: bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
h2{
    font-weight: bold;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-weight: bold;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h5{
    font-weight: bold;
    color: #340856;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-weight: bold;
    color: #340856;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.modelo{
    font-weight: lighter;
    text-align: center;
    color: black;
}
ion-icon {
    color: #340856;
    font-size: 30px;
    text-align: center;
  }
a{
    text-decoration: none;
    color: #340856;
    font-weight: bold;
}
a:hover{
    color: black;
}
.letraP{
    color: black;
    font-weight: normal;
}

.card{
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card a:hover{
    background-color: #340856;
    color: white;
}

.boton:hover{
    background-color: #89d631;
    color: white;
}
